li{
    list-style: none;
}
.myprofile{
    max-width: 1170px;
    margin: 60px auto 0 auto;
   
    .profile-default{
        text-align: center;
        background-color: #f7f7f7;

        .profile-setting{
            float: right;
            position: relative;
            font-size: 1.4rem;
            line-height: 40px; 
            background-color: #ccc;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 10px 10px 0 0;
            cursor: pointer;

            
            &:hover{ 
                background-color: #877f7f
            }
            &:hover .sub-setting{ 
                display: block;
            }

            .sub-setting{
                display:none;
                background-color: #b5b5b5;
                position: absolute;
                width: 232px;
                right: -96px;
                top: 60px;
                cursor: move;
                border-radius: 5px;

                &::before{
                    content: "";
                    border-width: 20px 26px;
                    border-style: solid;
                    border-color: transparent;
                    position: absolute;
                    top: -30px;
                    border-radius: 5px;
                    width: 150px;
                    right: 39px;
               
              
                
                }
                
            }
           
            .sub-setting button{
                width: 190px;
                height:35px;
                font-size: 1.2rem;
                display: block;
                margin: 10px auto;
                border: none;
                outline: none;
                border-radius: 5px;
               // list-style: 35px;

               &:hover{ background-color: #dfd3d3;}

            }


        }

        .profile-avata{ 
            border-radius: 50%;
            margin-bottom: 20px;
        
            .profile-picture--img{
                width: 160px;        
                border-radius: 50%;
                margin: 20px 0 0 60px;
                box-shadow: 0px 5px 8px 0px #aaa3a3;
            }
        }

        .profile-name{
            font-size:2rem;
            font-weight:bold;
            text-shadow: 2px 2px 4px #000000 !important;
            margin-bottom: 40px ;

        }
        
        .bar-userProfile{
            
            margin-bottom: 40px;

            .content__bar-menu{
                display: flex;
                padding-left: 0;
                margin: 0 auto;
                max-width: 700px;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.05);
                border-radius: 12px;
                height:30px;
                align-items: center;

                .content__bar-item {
                    padding: 0 28px 0 28px ;
                    cursor: pointer;

                    &:active{ 
                        border-radius : 12px !important;
                        background-color: #fff !important;
                       
                    }
    
                 }

                 .content__bar-item a {
                    text-decoration: none;
                    color: #000;
                    font-size: 1rem;
                    font-weight: 400;

                    &:hover { color: rgb(148, 216, 116);}


                 }
               
            }

           
        }






    }


  



   
}