.detailAlbum {
    max-width: 1140px;

    margin: 100px auto 0 auto;
    display : flex;
    .imgAlbum {
        margin-right: 30px;
        
        .img-Album {
            border-radius: 5px;
            width: 300px;
            margin-bottom: 30px;
        }

        
    }   
    .title-Album {
        font-size: 2.2rem ;
        font-weight: 600 ;
        text-align: center ;
        width: 300px ;

    }
    .button-search{
        width: 300px;
        text-align: center ;
        .share-clapboard{
            background: rgb(235, 230, 230);
            border-radius: 50%;
            border: none ;
            margin: 0 10px;
            height: 40px;
            width: 40.6px;
            
    
        }
    }

    .album-song {
        width: 100%;
        margin-top: 40px;
        .album-title-song {
            display: flex;
            justify-content: space-between;
           
            .album-fist{
                margin-left: 15px;
            }
            .album-end{
                margin-right: 18px;
            }
        }
        .album-title-song > span{
            font-weight: 600;
        }

        .album-song-item{
            overflow-y: auto;
            max-height: calc(100vh - 192px);
        }
        
       
    }

}