.Marding-60{
    max-width: 1160px ;
    margin: 60px auto 0 auto ;

    .singer-top{
        display: flex;
        background-color: #f1f1f1;
        border-radius: 4px;
        .avata-singer-top{
            padding: 30px 0 30px 30px;
            .avata-singer--top{ 
                width: 360px;
                border-radius: 5px;
                box-shadow: 1px 8px 16px 16px #d1cfcf;
            }
        }

        .singer-down{
            margin-left: 40px;
            .item-new-singer{
                margin-top:10px;
                display: flex;
                flex-wrap: wrap;
                .item-singer{
                    display: flex;
                    margin-bottom: 36px;
                    align-items: center;
                   
                    .index-item{
                        font-size: 1.2rem;
                        font-weight: 600; 
                        margin-right: 20px;
                    }
                    .img-singer-item{
                        width: 60px;
                        border-radius: 50%;
                        
                        .img-item-singer{
                            width: 50px;
                            border-radius: 50%;
                        }
                    }
                    .name-item-singer{
                        font-size: 1.5rem;
                        text-decoration: none;
                        color: #000;

                        &:hover {
                            color: #3cc366
                        }


                    }

                }
            }
        }
    }
    .singer-item{
        display: flex;
        flex-wrap: wrap;
    }
}