.music-item{
    
    display: block;
    margin: 0 10px 36px 10px;
    width: 212px;
    height: 100%;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.05)

}
.music_name{
    display:block;
    text-decoration: none;
    margin: 5px;
    text-align: left;
    font-size:1.2rem;
    color:#000;
    cursor: pointer;



}
.singer-name{
    margin: 5px;
    font-size: 1rem;
    text-align: left ;
    text-decoration: none;
    color:#605a5a
}

.music-picture{
    position: relative;
    width: 100%;
    
    
}
.music-picture--link{
    width: 100%; 
    border-radius: 5px;
}
 
.music-picture--img{
    display: block;
    width: 100%;
    z-index: 5;
    
    border-radius: 5px;
}
.music-item:hover .music-overlay{
    display: flex;
}
.icon{
    background-color: transparent;
    font-size: 57px;  
    display: block;
    color: #fff;
    border: none;
    z-index: 8;
}
.icon:hover{
    opacity: 0.5;
}


a.icon-playlist {
    background-color: transparent;
    font-size: 57px;
    display: block;
    color: #fff;
    border: none;
    line-height: 212px;
    z-index: 8;
}


.music-overlay{
    position: absolute;
    border-radius: 6px;
    width: 100%;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: none;
    z-index: 6;
    justify-content: center;
   
}




.setting-icon {
    position: absolute;
    margin: 6px 4px 0 0;
    text-align: -webkit-center;
    right: 0 !important;
    border: none;
    border-radius: 50%;
    width: 30px;
    font-size: 1.3rem;
    height: 30px;
    z-index: 1;
}

.music-overlay-item--sub {
    position: absolute;
    right: 0;
    border-radius: 50%;
    width: 41px;
    height: 38px;
}


.music-overlay-item--sub:hover .sub-setting  {
     display: block;
}




.setting-icon:hover{
    opacity: 0.8;
    color: #04AA6D;
   
    display: block;
}

.setting-icon:hover .sub-setting{
   
    display: block;
}






.sub-setting{
    position: absolute;
    padding: 14px;
    width: 136px;
    top: 45px;
    right: 6px;
    display: none;
    z-index: 333;
    border-radius: 5px;
    box-shadow: 2px 3px 5px -1px #646262;
    background-color: #fff;
}

.sub-setting::before {
    content: "";
    width: 50px;
    left: 85px;
    height: 25px;
    position: absolute;
    top: -16px;
}



.sub-setting > button {

    border-radius: 5px;
    width: 100%;
    height: 30px;
    border: none;
    background-color: transparent;
    
}

.sub-setting > button:hover {

    background-color: #ccc;
    color: #04AA6D;
    
}



